# Server
PORT=
NODE_ENV=

# Database
DATABASE_URL=

# JWT
JWT_SECRET=
JWT_EXPIRES_IN=

# Redis
REDIS_URL=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Gemini
GEMINI_API_KEY=

# Email (Resend)
RESEND_API_KEY=
EMAIL_FROM=

# Client
CLIENT_URL=